{%- assign lang = page.lang | default: site.lang | default: 'cmn-Hans' -%}
{%- assign info-array = site.data.theme-2038-i18n | map: lang -%}
{%- assign info = info-array[0] -%}

<details class="ml-drawer">
	<summary class="ml-menu-button">≡</summary>
	<div class="ml-drawer-inside">
		{% include bookmark.html %}
		<details open>
			<summary>{{ info.toc }}</summary>
			{% include toc.html html=content class='ml-toc'
				submenu_class='ml-toc-sub' item_class='ml-toc-%level%' %}
		</details>
	</div>
</details>

