{%- assign lang = page.lang | default: site.lang | default: 'cmn-Hans' -%}
{%- assign info-array = site.data.theme-2038-i18n | map: lang -%}
{%- assign info = info-array[0] -%}
{%- assign t2038 = site.theme-2038 -%}

<footer class="ml-footer">
	<aside class="ml-footer-main">
		{%- include social.html -%}
		{%- if t2038.wordmark -%}
			<img alt="{{ site.title }}" class="ml-wordmark" src="{{ t2038.wordmark }}" />
		{%- endif -%}
		<div class="ml-footer-divider"></div>
		<ul class="ml-ul-dot-line">
			{%- include link-item.html links=t2038.footer-links -%}
		</ul>
		<div class="ml-clear"></div>
		{%- if t2038.footer-desc -%}
			<p class="ml-footer-desc">{%- include pick-language.html text=t2038.footer-desc -%}</p>
		{%- endif -%}
		{%- if t2038.from-year -%}
			<p class="ml-smaller">
			{%- assign now-year = 'now' | date: '%Y' -%}
			{{ info.copyright }} {% include pick-language.html text=site.author.name %}
			{% if t2038.from-year != now-year -%}{{ t2038.from-year }}—{%- endif -%}{{ now-year }}
			</p>
		{%- endif -%}
		{%- if t2038.license -%}
			<p class="ml-smaller">
			{%- capture lname -%}{%- include pick-language.html text=t2038.license -%}{%- endcapture -%}
				{{ info.license | replace: 'LICENSE', lname }}
			</p>
		{%- endif -%}
	</aside>
</footer>

