$link-change-time: .3s !default;

h1, h2, h3, h4, h5, h6 {
	color: fade-out($base-colour, .1);
}

body {	
	background: $bgcolour;
	color: fade-out($base-colour, .3);
}

@media screen and (max-width: 1300px) {
	.ml-drawer[open] {
		background: fade-out($bgcolour, .15);
	}
}

.ml-footer-copyright {
	margin: 0;
	font-size: .9em;
}

.ml-footer-copyright, .ml-footer-links li::before {
	color: fade-out($base-colour, .4);
}

.ml-drawer a, .ml-social-list .svg-icon {
	color: fade-out($base-colour, .4);

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: color $link-change-time;
	}

	&:hover {
		color: fade-out($base-colour, .1);
	}
}

.ml-drawer summary {
	color: fade-out($base-colour, .3);
}

.ml-drawer summary:hover, .ml-bookmark a:hover {
	background: fade-out($base-colour, .9);
}

.ml-toc-1 > a, .ml-toc-2 > a {
	color: fade-out($base-colour, .2);
}

.ml-bookmark a {
	@media screen and (prefers-reduced-motion: no-preference) {
		transition: background, color $link-change-time;
	}
}

.ml-footer-main {
	background: fade-out($bgcolour, .3)
}

