$link-change-time: .3s !default;

h1, h2, h3, h4, h5, h6 {
	color: fade-out($base-colour, .1);
}

body {	
	background: $bgcolour;
	color: fade-out($base-colour, .3);
}

@media screen and (max-width: 1279px) {
	.ml-drawer[open] {
		background: fade-out($bgcolour, .15);
	}
}

.ml-drawer a {
	color: fade-out($base-colour, .4);

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: color $link-change-time;
	}

	&:hover {
		color: fade-out($base-colour, .1);
	}
}

.ml-bookmark a {
	&:hover {
		background: fade-out($base-colour, .8);
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		transition: background, color $link-change-time;
	}
}

