$transition-time: .4s	!default;
$mobile-width: 24em	!default;
$mobile-opacity: .7	!default;

.ml-drawer {
	position: fixed;
	left: 0;
	top: 0;
	padding: 10px;
	min-width: 150px;
	height: 2rem;
	overflow: hidden;

	&[open] {
		height: 100%;
	}

	&[open] summary {
		transform: rotate(-90deg);
	}

	summary {
		color: grey;
		width: 2rem;
		height: 2rem;
		text-align: center;	
		line-height: 2rem;
		font-size: 2rem;

		&::marker {
			content: '';
		}

		&:hover {
			transform: rotate(-10deg);
		}
	}

	li {
		list-style-type: none;
	}

	a {
		text-decoration: none;
	}

}

@media screen and (max-width: 1279px) {
	.ml-drawer[open] {
		width: 100%;
	}

	.ml-drawer-inside {
		max-width: $mobile-width;
		margin: 56px auto 0;
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	.ml-drawer {
		transition: height $transition-time;
		summary {
			transition: transform $transition-time;
		}
	}
	.ml-bookmark li {
		transition: background $transition-time;
	}
}

.ml-bookmark {
	text-align: center;
	width: 100%;
	padding: 0 1em;

	a {
		display: block;
		width: 100%;
		line-height: 2.5rem;
	}
}

