.ml-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	min-height: 6rem;
}

$icon-size: 1.8em;

.ml-social-list {
	padding: 0
}

.ml-social-list li {
	list-style: none;
	margin: 6px;
	display: inline-block;
	float: right
}

.ml-footer-main {
	padding: 2em;
}

.ml-ul-dot-line {
	.ml-footer & {
		text-align: center;
	}
	line-height: 2rem;
	padding: 0;

	.ml-footer & {
		font-size: 1.05em;
	}

	li {
		list-style: none;
		display: inline-block;
	}

	li::before {
		margin: 0 6px;
		content: '\318D';
	}

	li:first-child::before {
		display: none
	}
}

.svg-icon {
	width: $icon-size;
	height: $icon-size;
	display: inline-block;
	fill: currentColor;
	padding: 5px 3px 2px 5px;
	vertical-align: text-bottom;
}

.ml-footer-divider {
	display: none
}

@media screen and (min-width: 1280px) {
	.ml-footer {
		z-index: 10;
	}
}

@media screen and (max-width: 749px) {
	.ml-footer-divider {
		display: block;
		clear: both
	}
}

.ml-clear {
	clear: both
}

.ml-wordmark {
	float: left;
}

