$transition-time: 0.5s;
$header-height: 56px;

.ml-drawer {
	position: fixed;
	left: 10px;
	top: 10px;
	summary {
		width: 2em;
		height: 2em;	
		transition: transform $transition-time;

		&::marker {
			content: '';
		}
	}
	&[open] summary {
		transform: rotate(90deg);
		transition: transform $transition-time;
	}
}

.ml-main {
	max-width: 960px; // TODO: 暂时调试用, 待 resize.scss 完成后去掉
	margin: $header-height auto 0;	
}

