//body, .ml-info {
//	font: 400 12pt / 1.7 "Helvetica Neue", 'Noto Sans CJK SC', // 为调试临时加入
//		Helvetica, Arial, sans-serif;
//}

body {
	scroll-behavior: smooth;
}

@-moz-document url-prefix() {
	body {
		text-align: justify;
		text-justify: inter-word;
	}
}

.ml-article ul, .ml-article ol {
	padding-inline-start: 3em;
}

.ml-pinyin {
	line-height: 2.2em;
}

.ml-ipa {
	font-family: CharisSILW, serif, serif;
}

.ruby-wrapper {
	margin: 0 .2em;
}

rt {
	font-size: 82.5%;
	line-height: 1.5;
	speak: none
}

body, button, input, select, textarea {
	&:lang(*-Hans), &:lang(*-Hant) {
		font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
	}

	&:lang(cmn-Hans), &:lang(cmn-Hant),
	&:lang(wuu-Hans), &:lang(wuu-Hant),
	&:lang(czh-Hans), &:lang(czh-Hant),
	&:lang(hak-Hans), &:lang(hak-Hant),
	&:lang(yue-Hans), &:lang(yue-Hant),
	&:lang(nan-Hans), &:lang(nan-Hant),
	&:lang(cpx-Hans), &:lang(cpx-Hant),
	&:lang(cdo-Hans), &:lang(cdo-Hant),
	&:lang(mnp-Hans), &:lang(mnp-Hant),
	&:lang(zco-Hans), &:lang(zco-Hant),
	&:lang(gan-Hans), &:lang(gan-Hant),
	&:lang(hsn-Hans), &:lang(hsn-Hant),
	&:lang(cjy-Hans), &:lang(cjy-Hant),
	&:lang(lzh-Hans), &:lang(lzh-Hant) {
		font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
	}
}

.ml-article {
	min-height: 30%;
	position: relative;
	top: 0;
	left: 0;
}

.ml-title {
	margin-bottom: 3px;
}

@media print {
	body {
		font: 400 12pt / 1.7 'Noto Serif CJK SC', serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		background: white;
		color: black;
	}
	.ml-header, .ml-footer, .ml-drawer {
		display: none;
	}
}

pre.highlight {
	margin: 0;
	padding: 1em;
}

blockquote {
	margin: 0;
	margin-left: 1em;
	padding-left: .75em;
}

pre, code, samp, kbd {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
	padding: 1px 3px 
}

p, table {
	margin: .9em 0;
}

summary {
	cursor: pointer
}

.highlight, .highlight .w {
	background: none
}

u {
	text-decoration: none
}

body, .ml-drawer-inside {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
	}
}

.ml-front a {
	margin-left: .5em;
}

q {
	&:lang(cmn-Hans), &:lang(cmn-Hant),
	&:lang(wuu-Hans), &:lang(wuu-Hant),
	&:lang(czh-Hans), &:lang(czh-Hant),
	&:lang(hak-Hans), &:lang(hak-Hant),
	&:lang(yue-Hans), &:lang(yue-Hant),
	&:lang(nan-Hans), &:lang(nan-Hant),
	&:lang(cpx-Hans), &:lang(cpx-Hant),
	&:lang(cdo-Hans), &:lang(cdo-Hant),
	&:lang(mnp-Hans), &:lang(mnp-Hant),
	&:lang(zco-Hans), &:lang(zco-Hant),
	&:lang(gan-Hans), &:lang(gan-Hant),
	&:lang(hsn-Hans), &:lang(hsn-Hant),
	&:lang(cjy-Hans), &:lang(cjy-Hant),
	&:lang(lzh-Hans), &:lang(lzh-Hant) {
		quotes: '\300C' '\300D' '\300E' '\300F'
	}

	&:lang(*-Hans), &:lang(*-Hant) {
		quotes: '\300C' '\300D' '\300E' '\300F'
	}
}


math * {
	text-align: center
}

