$header-height: 9em !default;
$middle-width: 960px !default;

.ml-main {
	margin: $header-height auto 4em;	
	max-width: $middle-width
}

.ml-drawer {
	padding-right: ($middle-width / 2) + 10px
}

@media (min-width: 1600px) {
	.ml-main {
		max-width: 60%;
	}
	.ml-drawer {
		padding-right: -32%
	}
}

@media (max-width: 960px) {
	.ml-main {
		margin: $header-height 1em 4em;
	}
}

